@model IEnumerable<Battle>
@using BetTeamsBattle.Data.Model.Entities
@using Resources
@{
    Layout = MVC.Shared.Views._Layout;
}

<h2>@Battles.ActualBattles</h2>

@foreach (var battle in Model)
{
    <text>
        
    </text>
}

