@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battles
@using BetTeamsBattle.Frontend.Authentication
@using Resources
@model BattleViewModel
@{
    Layout = MVC.NotAdmin.Shared.Views._BattleLayout;
}
@if (Model.BattleIsActive)
{
    <div class="knopka_st_blok">
        <a href="@Url.Action(MVC.NotAdmin.BattleBets.MakeBet(Model.BattleId))">
            <div class="knopka_st">
                <div class="knopka_st_text">
                    @BattleBets.MakeBet
                </div>
            </div>
        </a>
    </div>
}
@if (CurrentUser.NullableUserId.HasValue)
{
    @Html.Action(MVC.NotAdmin.BattleBets.MyBets(Model.BattleId))
}