@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battles
@using BetTeamsBattle.Frontend.Models.Shared
@using Resources
@model IEnumerable<BattleTopTeamsTeamViewModel>

@Html.Partial(MVC.Shared.Views.TwoColumns._LeftColumnBlock, new LeftColumnBlockViewModel(Battles.BattleLeaders, @<text>
@foreach (var user in Model)
{
    <div class="list">
        @user.Login @user.Balance
    </div>
}
</text>))