@{
    Layout = MVC.Shared.Views._Layout;
}

<div id="blok_2">
    @RenderSection("RightBlock", true)
</div>

<div id="blok_1">
    <div id="levo_blok">
        @RenderSection("LeftBlock", true)
    </div>
</div>

<div id="pravo_blok">
    <div id="pravo_blok2">
        <div id="pravo_content">
            <div id="pravo_content2">
                @RenderSection("MiddleBlock", true)
            </div>
        </div>
    </div>
</div>