@{
    Layout = MVC.Shared.Views._Layout;
}

@RenderSection("Scripts", false)

<div class="blok_2">
    @RenderSection("RightBlock", false)
</div>

<div class="blok_1">
    <div class="levo_blok">
        @RenderSection("LeftBlock", false)
    </div>
</div>

<div class="pravo_blok">
    <div class="pravo_blok2">
        <div class="pravo_content">
            <div class="pravo_content2">
                @RenderSection("MiddleBlock", true)
            </div>
        </div>
    </div>
</div>