@using BetTeamsBattle.Frontend.Models.Shared
@model LeftColumnBlockViewModel
<div class="pr_blok1_2">
    <div class="levo_blok1_head_b">
        <div class="text_head_b">
            @Model.Title
        </div>
    </div>
    <div class="levo_blok1_content">
        @Model.Content(null)
    </div>
</div>
