@{
    Layout = MVC.Shared.Views._Layout;
}

@section osnova_d
{
 id="osnova_d_b"
}
@RenderSection("Scripts", false)
<div class="content_blok_b">
    <div class="blok_1_battle">
        <div class="levo_blok_b">
            @RenderSection("LeftBlock", true)
        </div>
        <div class="pravo_blok_battle">
            <div class="pravo_blok2_battle">
                <div class="pravo_content_battle">
                    @RenderSection("RightBlock", true)
                </div>
            </div>
        </div>
    </div>
</div>
