@using BetTeamsBattle.Frontend.Localization.Infrastructure.Url
@using BetTeamsBattle.Frontend.Models.Shared.Languages
@model LanguageViewModel
<td>
    @if (!Model.IsCurrentLanguage)
    {
        @: <a href="@UrlCountryCodeHelper.ChangeUrlCountryCodePart(Request.Url, Model.Language)">
    }
    <span class="@Model.LanguageClass"> 
    @if (Model.IsCurrentLanguage) 
    { 
        <span class="@Model.CurrentLanguageClass"></span> 
    } 
    </span> 
    @if (!Model.IsCurrentLanguage)
    {
        @: </a>     
    }
</td>
