<?xml version="1.0" encoding="utf-8" ?>
<root>
  <FileGroup Name="group1.css">
    <File Path="Content/botton.css" Minify="true" />
    <File Path="Content/file.css" Minify="true" />
    <File Path="Content/menu_style.css" Minify="true" />
    <File Path="Content/test/file.css" Minify="true" />
  </FileGroup>
</root>