@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@model DateAndScreenshotViewModel
@if (Model == null)
{
    <text>?</text>
}
else
{
    <div class="data">@Model.DateTime</div>
    if (Model.ScreenshotIsVisible)
     {
         if (Model.ScreenshotUrl != null)
         {
             @Forms.ActionImage(Model.ScreenshotUrl, Model.ScreenshotStatusClass, Model.ScreenshotStatusString)
         }
         else
         {
             @Forms.Image(Model.ScreenshotStatusClass, Model.ScreenshotStatusString)
         }
     }
}