@using BetTeamsBattle.Data.Model.Enums
@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@using Resources
@model MyBetViewModel
@if (Model.IsClosed)
{
    @Forms.Image(Model.StatusActionImage.ImageClass + " scr", Model.StatusActionImage.Title)
}
else
{
    <table class="vibor">
        <tbody>
            <tr>
                <td>
                    @Html.Partial(MVC.NotAdmin.BattleBets.Views._StatusActionImage, Model.StatusActionImages[BattleBetStatus.Succeeded])
                </td>
                <td>
                    @Html.Partial(MVC.NotAdmin.BattleBets.Views._StatusActionImage, Model.StatusActionImages[BattleBetStatus.Failed])
                </td>
                <td>
                    @Html.Partial(MVC.NotAdmin.BattleBets.Views._StatusActionImage, Model.StatusActionImages[BattleBetStatus.CanceledByBookmaker])
                </td>
            </tr>
        </tbody>
    </table>
}