@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Teams
@using BetTeamsBattle.Frontend.Models.Shared
@using Resources
@model IEnumerable<TeamViewModel>

@Html.Partial(MVC.Shared.Views.TwoColumns._LeftColumnBlock, new LeftColumnBlockViewModel(Battles.BattleLeaders, @<text>
@foreach (var team in Model)
{
    <div class="list">
        @Html.Partial(MVC.NotAdmin.Shared.Views._Team, team)
    </div>
}
</text>))