@using BetTeamsBattle.Frontend.Models.Shared
@model ColumnBlockViewModel

<div class="levo_blok1">
    <div class="levo_blok1_head">
        <div class="text_head">
            @Model.Title
        </div>
    </div>
    <div id="levo_blok1_content">
        @Model.Content(null)
    </div>
</div>

