<?xml version="1.0"?>
<connectionStrings>
  <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vpn.net-ka.ru;User Id=ef;password=efpass;Persist Security Info=True;database=betteamsbattleproduction;charset=utf8;&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>