@charset "utf-8";
/* CSS Document */




 span.button input{
    background-image:url("images/sprite.png");
	width:167px;
	background-repeat:no-repeat;
background-position:-344px 0px;
height:36px;
}


 span input{
	
	white-space:nowrap;
	cursor:pointer;
    color:#FFF;
	display:-moz-inline-box;
	display:inline-block;
	line-height:1;
    letter-spacing:0 !important;
    font-family:"Arial" !important;
    font-size:18px !important;
    font-style:normal;    
	background-repeat:no-repeat;
	height:36px;
	margin:0 0px 0 10px;
	border:none;
	vertical-align:text-top;
	
}



 span input:hover{
   background-image:url("images/sprite.png");

	color:#FF0;
	
}

















	