@charset "utf-8";
/* CSS Document */

body {
	background-color:#333;
	background-image: url('images/background.png');

	padding:0px;
	margin:0px;
}

h1{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	padding-left:20px;
	text-shadow:1px 1px 2px #121F5C;
	
}

.osnova{
	width:1024px;
	margin:0 auto;
	
}


.heder{
	height:184px;
	width:1024px;
	background-image: url('images/heder.jpg');
	
}

  .menu{
	  height:30px;
	  width:1024px;
	  background-image: url('images/menu_1.png');
	  
  }
  
    .menu a{
		border:none;
	  
  }



.content_blok{
	width:1024px;
	min-height:700px;
	background-color:#202020;
	padding-top:8px;
	
}


.levo_blok{
	width:233px;
	min-height:700px;
	float:left;
	
}


.pravo_blok{
	width:549px;
	margin-left:238px;
	background-image: url('images/rr.png');
	
}

.pravo_blok2{
	width:549px;
	background-image: url('images/r.png');
	background-repeat:repeat-x;	
}

.pravo_content{
	width:549px;
	min-height:900px;
	background-image: url('images/r.png');
	background-repeat:repeat-x;
	background-position:bottom;
	color:#FFF;
}

.pravo_content2{
	width:530px;
	margin:0 auto;
	padding-top:8px;
	font-size:17px;
	
}

.foter{
	height:60px;
	width:1024px;
	
}

.menu_dubl{
	height:23px;
	width:1024px;;
	text-align:right;
}


.copyright{
	height:37px;
	width:1024px;
	background-image: url('images/footer_1.png');
	background-repeat:repeat-x;
	text-align:center;
	color:#FFF;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	padding-top:12px;
	text-shadow:1px 1px 2px #000;
	
	
}



.menu_dubl a:hover{
	color:#88D0EC;
	border-bottom:1px dashed;
	text-shadow:1px 1px 1px #000;
}

.mainlevel{
	color:#DDD;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	margin-left:3px;
	margin-right:3px;
	text-decoration:none;
	
}



.levo_blok1{
	min-height:38px;
	background-color:#FFF;
	width:233px;
	background-image: url('images/sr.png');
	border:1px solid #333;
	margin-top:3px;
}


.pr_blok1_2{
	min-height:38px;
	width:233px;
	background-image: url('images/2.png');
	border:1px solid #333;
	margin-top:3px;
}


.levo_blok1_head{
	height:28px;
	width:233px;
	background-image: url('images/s.png');
}




.pr_blok1_head_2{
	height:28px;
	width:233px;
	background-image: url('images/2_hed.png');
}





.pravo_content2 a{
	color:#09F;
	text-decoration:none;
	
}

.pravo_content2 a:hover{
	color:#06F;
	text-decoration:none;
	border-bottom:1px dashed;
	
}



.levo_blok1_content{
	width:228px;
	padding-left:5px;
	
}


.list{
	width:220px;
	border-bottom:1px solid #333;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px;
	font-size:13px;
}

.list a{
	color:#03F;
	text-decoration:none;
	font-weight:bold;
}


.list a:hover{
	color:#06F;
	text-decoration:none;
	font-weight:bold;
	text-decoration:underline;
}



.text_head{
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	padding-top:3px;
	text-shadow:1px 1px 2px #000;
	width:233px;
	text-align:center;
	font-weight:bold;
	
}


.blok_1{
	width:787px;
	
}

.blok_2{
	width:233px;
	float:right;
}

.vhod{
	height:30px;
	width:80px;
	background-image: url('images/vhod.png');

}

table{
	height: 30px;
	width: 1024px;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}

.td1{
	width: 102px;
}

.td2{
	width: 101px;
}
.td3{
	width: 101px;
}
.td4{
	width: 102px;
}

.td5{
	width: 369px;
}

.td5_1{
	width: 90px;
	color:#CCC;
}



.td5_1 a{
	color:#CCC;
	font-size:17px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	
}
.td5_1 a:hover{
	color:#09F;
	font-size:17px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	
}





.td6{
	width: 80px;
	color:#FFF;
	font-size:20px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	
}


.td6 a{
	color:#FFF;
	font-size:20px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	
}
.td6 a:hover{
	color:#09F;
	font-size:20px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	
}

.td7{
	width: 41px;
}

.td8{
	width: 41px;
}

.img{
	width:233px;
}