@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@model DateAndScreenshotViewModel
<div class="data">@Model.DateTime</div>
<div class="sc">
@if (Model.ScreenshotUrl != null)
{
    <text><a href="@Model.ScreenshotUrl"></text>
}
<img class="scr" />
@*@Model.ScreenshotStatus*@
@if (Model.ScreenshotUrl != null)
{ 
    <text>@Html.Raw("</a>")</text>
}
</div>