@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@model DateAndScreenshotViewModel
@if (Model == null)
{
    <text>?</text>
}
else
{
    <div class="data">@Model.DateTime</div>
    <div class="sc">
        @if (Model.ScreenshotUrl != null)
        {
            @Forms.ActionImage(Model.ScreenshotUrl, Model.ScreenshotStatusClass + " scr", Model.ScreenshotStatusString)
        }
        else
        {
            @Forms.Image(Model.ScreenshotStatusClass + " scr", Model.ScreenshotStatusString)
        }
    </div>
}