@using BetTeamsBattle.Data.Model.Enums
@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@model BetViewModel
<table class="vibor">
    <tbody>
        <tr>
            @if (Model.IsClosed)
            {
                <td></td>
                <td>
                    @Forms.Image(Model.StatusActionImage.ImageClass, Model.StatusActionImage.Title)
                </td>
                <td></td>
            }
            else
            {
                <td>
                @foreach (var statusActionImage in Model.StatusActionImages)
                {
                    @Forms.ActionImage(Url, statusActionImage.ActionResult, statusActionImage.ImageClass, statusActionImage.Title)
                }
                </td>
            }
        </tr>
    </tbody>
</table>
@if (Model.IsClosed)
{
    <span class="@BetResult.GetClass(Model.Result)">@BetResult.GetSignedValue(Model.Result)</span>
}
