@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Users
@using Resources
@model IEnumerable<UsersRatingUserViewModel>
           
<div class="levo_blok1">
    <div class="levo_blok1_head">
        <div class="text_head">
            @Users.UsersRating
        </div>
    </div>
    <div id="levo_blok1_content">
        @foreach (var user in Model)
        {
            <div class="list">
                @user.Login @user.Rating
            </div>
        }
    </div>
</div>