@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Users
@using Resources
@model IEnumerable<UsersRatingUserViewModel>
           
<div id="levo_blok1">
    <div id="levo_blok1_head">
        <div id="text_head">
            <b>@Users.UsersRating</b>
        </div>
    </div>
    <div id="levo_blok1_content">
        @foreach (var user in Model)
        {
            <div class="list">
                @user.Login @user.Rating
            </div>
        }
    </div>
</div>