<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="amazonAccessKeyId" value="" />
    <add key="amazonSecretAccessKeyId" value="" />
    <add key="amazonBucketName" value="betteamsbattle" />
    <add key="amazonOpenBetScreenshotsPath" value="betsscreenshots/open/" />
    <add key="amazonCloseBetScreenshotsPath" value="betsscreenshots/close/" />
  </appSettings>
  <connectionStrings>
    <add name="ModelContainer"
         connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vpn.net-ka.ru;User Id=ef;password=efpass;Persist Security Info=True;database=betteamsbattle;charset=utf8;Max Pool Size=150;Default Command Timeout = 300000;&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>