@using BetTeamsBattle.Frontend.Models
@model FormElementViewModel

<div class="stroka_1">
        <div class="stroka_11">
            <div class="stroka_1_name">@Model.Title</div>
            <div class="stroka_1_form">@Model.Element</div>
        </div>
        <div class="stroka_12">
            @Model.ValidationMessage
        </div>
    </div>