@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Teams
@model TopTeamViewModel

@Html.ActionLink(Model.Title, Model.TeamOrUserActionResult)
@if (Model.IsPro)
{
    <span class="pro"></span>
}
<div class="r">@Model.Rating</div>