@{
    Layout = MVC.Shared.Views._Layout;
}
@RenderSection("Scripts", false)
@section osnova_d
{
id="osnova_d_b"
}
<div class="content_blok_b">
    <div class="blok_1_battle">
        @RenderBody()
    </div>
</div>
