@model object
<div id="levo_blok">
    @Html.Action(MVC.NotAdmin.Battles.AllBattles())
    @Html.Action(MVC.NotAdmin.Users.UsersRating())
    <div id="levo_blok2">
        <div id="levo_blok2_head">
        </div>
        <div id="levo_blok1_content">
            <div class="list">
            </div>
            <div class="list">
            </div>
            <div class="list">
            </div>
            <div class="list">
            </div>
            <div class="list">
            </div>
            <div class="list">
            </div>
            <div class="list">
            </div>
        </div>
    </div>
</div>
<div id="pravo_blok">
    <div id="pravo_blok2">
        <div id="pravo_content">
            <div id="pravo_content2">
                <h1>
                    Заголовок</h1>
                <p>
                </p>
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
                текс текс текс текс текс текс текс текс <a href="">ссылка ссылка ссылка ссылка</a>
            </div>
        </div>
    </div>
</div>
<br />
