@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Teams
@using BetTeamsBattle.Frontend.Models.Shared
@using Resources
@model IEnumerable<TopTeamViewModel>
           
@Html.Partial(MVC.Shared.Views.ThreeColumns._RightColumnBlock, new ColumnBlockViewModel(Teams.TopTeams, @<text>
@foreach (var team in Model)
{
    <div class="list_r">
        @Html.Partial(MVC.NotAdmin.Teams.Views._Team, team)
    </div>
}
</text>))
