@model object
@{
    Layout = MVC.Shared.Views._ThreeColumnsLayout;
}

@section LeftBlock {
    @Html.Action(MVC.NotAdmin.Battles.AllBattles())
}
@section RightBlock {
    @Html.Action(MVC.NotAdmin.Users.TopUsers())
}
@section MiddleBlock {
    <h1 align="center">Где я?</h1>
    <p />
    Для того чтобы делать успешные букмекерские ставки, необходимо освоить лежащий в их основе математический базис 
    (и то, как им манипулируют букмекеры), погрузиться во все детали предмета ставок 
    (причем важную роль играет инсайдерская, отсутствующая в свободном доступе информация),
    отслеживать коэффициенты (и их динамику) у разных букмекеров и т. д.
    <p />
    Неудивительно, что есть люди/команды/компании (мы называем их Bet Teams), которые занимаются этим профессионально и за определенное вознаграждение делятся информацией.
    <p />
    Цель данного сервиса - выявить лучшие профессиональные команды, а также дать любому возможность посоревноваться на равных с профессионалами.

    <h1 align="center">Where am I?</h1>
    <p />
    For making successful bookmaker bets you need to master mathematical basis which they are based on 
    (and the way how bookmakers manipulate it), plunge into the details of bets subject 
    (it is important to know inside information, which is absent in free access),
    track coefficients (and their dynamics) from different bookmakers, etc.
    <p />
    It's no wonder there are people/teams/companies (we call them Bet Teams) who make it professionally and for some fee share the information.
    <p />
    The goal of this service is to bring out best professional teams and give to anybody a possibility to compete with professionals.
}