@model object
@{
    Layout = MVC.Shared.Views._ThreeColumnsLayout;
}

@section LeftBlock {
    @Html.Action(MVC.NotAdmin.Battles.AllBattles())
}
@section RightBlock {
    @Html.Action(MVC.NotAdmin.Users.TopUsers())
}
@section MiddleBlock {
    <h1></h1>
    <p>
    </p>
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс текс
    текс текс текс текс текс текс текс текс <a href="">ссылка ссылка ссылка ссылка</a>
}