<?xml version="1.0"?>
<appSettings>
  <add key="amazonAccessKeyId" value="123"/>
  <add key="amazonSecretAccessKeyId" value="123"/>
  <add key="amazonBucketName" value="betteamsbattle"/>
  <add key="amazonBetsScreenshotsDirectory" value="betsscreenshots"/>

  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="false" />
</appSettings>