@using BetTeamsBattle.Frontend.Models.Shared
@model ColumnBlockViewModel
<div class="pr_blok1_2">
    <div class="levo_blok1_head">
        <div class="text_head">
            @Model.Title
        </div>
    </div>
    <div class="levo_blok1_content">
        @Model.Content(null)
    </div>
</div>
