@{
    Layout = MVC.Shared.Views._OneOrTwoColumnsLayoutBase;
}
@section Scripts {
    @RenderSection("Scripts", false)
}

<div class="levo_blok_b">
    @RenderSection("LeftBlock", true)
</div>
@RenderSection("RightBlock", true)
