@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Users
@using BetTeamsBattle.Frontend.Models.Shared
@using Resources
@model IEnumerable<TopUsersUserViewModel>
           
@Html.Partial(MVC.Shared.Views._RightColumnBlock, new LeftColumnBlockViewModel(Users.UsersRating, @<text>
@foreach (var user in Model)
{
    <div class="list_r">
        <div class="pro">
            <a>@user.Login</a> @user.Rating
        </div>
    </div>
}
</text>))
